---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
---

<PageLayout title="500: Server Error" description="Server error">
  <Container>
    <div class="flex items-center animate space-x-4">
      <h1 class="animate text-3xl font-semibold text-black dark:text-white">
        500: Server Error
      </h1>
    </div>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate font-sans">
            There was an error on the server. Please try again later. You can click the button below to go back to the homepage.
          </p>
          <p class="animate">
            <Link href="/">
                Go back to the homepage
            </Link>
          </p>
        </article>
      </section>
    </div>
  </Container>